[submodule "gateway-frontend"]
	path = gateway-frontend
	url = https://github.com/alan-turing-institute/gateway-frontend
[submodule "gateway-middleware"]
	path = gateway-middleware
	url = https://github.com/alan-turing-institute/gateway-middleware
[submodule "gateway-openfoam"]
	path = gateway-openfoam
	url = https://github.com/alan-turing-institute/gateway-openfoam.git
[submodule "gateway-auth"]
	path = gateway-auth
	url = https://github.com/alan-turing-institute/gateway-auth.git
