[submodule "gateway-frontend"]
	path = gateway-frontend
	url = https://github.com/alan-turing-institute/gateway-frontend
[submodule "gateway-middleware"]
	path = gateway-middleware
	url = https://github.com/alan-turing-institute/gateway-middleware
