version: '3'
services:
  middleware:
    build:
      context: gateway-middleware
      dockerfile: Dockerfile
    ports:
     - "5000:5000"
    volumes:
     - ./gateway-middleware:/app
    depends_on:
     - postgres
    networks:
     - db_nw
  postgres:
    image: "postgres:latest"
    volumes:
     - database:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=sg
      - POSTGRES_PASSWORD=sg
      - POSTGRES_DB=sg
    networks:
     - db_nw
  job-manager:
    build:
      context: gateway-job-manager-openfoam
      dockerfile: Dockerfile
    ports:
    - "5001:5001"
    - "10023:22"
    volumes:
    - ./gateway-job-manager-openfoam:/app
    environment:
    - FLASK_CONFIGURATION=default
    depends_on:
    - middleware
    - simulator
    networks:
    - db_nw
  simulator:
    build:
      context: gateway-simulator-openfoam
      dockerfile: Dockerfile

    # here we use the keys from the job-manager
    env_file:
     - gateway-job-manager-openfoam/keys/simulator.env

    ports:
    - "10022:22"
    privileged: true
    volumes:
    - ./gateway-simulator-openfoam:/app
    networks:
    - db_nw
networks:
  db_nw:
    driver: bridge
volumes:
  database:
